@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
	min-height: 100dvh;
}

.navbar {
	@apply flex items-center justify-between w-full fixed top-0 z-10 h-[5.4rem] p-[3.5rem];
}

.nav_link {
	@apply text-2xl font-semibold text-[#181b21] mx-[0.6rem] px-[0.6rem] py-[0.4rem] rounded-[0.8rem] bg-transparent hover:bg-[#181b21] hover:bg-opacity-10 transition-all duration-300;
}

.nav_link1 {
	@apply text-2xl font-semibold text-[#181b21] mx-[0.6rem] px-[0.6rem] py-[0.4rem] rounded-[0.8rem] bg-transparent hover:bg-[#181b21] hover:bg-opacity-10 transition-all duration-300;
}

.car_section {
	@apply w-full h-screen relative;
}

.car_image {
	@apply w-full h-full object-cover;
}

.car_details {
	@apply absolute top-[25%] left-[50%] text-center;
}

.transform_50 {
	transform: translate(-50%, -50%);
}

.model_name {
	@apply text-[4rem] text-[#393c41] font-semibold;
}

.tag_name {
	@apply text-[#4c4d51] text-2xl;
}

.car_buttons {
	@apply absolute top-[85%] left-[50%] flex flex-col lg:flex-row;
}

.btn {
	@apply text-2xl text-white bg-[#171a20] font-medium uppercase mx-3 my-2 py-[0.4rem] px-[2.4rem] rounded-[3.2rem] w-[25.5rem] h-16 bg-opacity-80;
}

.inventory {
	@apply text-[#393c41] bg-white bg-opacity-60 lg:ml-8;
}

.down_svg {
	@apply absolute top-[93%] block w-full h-20 mx-auto animate-bounce;
}

section.hero-image {
	filter: blur(4px);
}

img.hero-image {
	filter: blur(4px);
}

@media (max-width: 767px) {
	.nav_link1 {
		position: absolute;
		top: 25%;
		right: 5%;
		margin-left: 0;
		margin-right: 0;
	}

	.model_name {
		font-size: 3rem;
	}

	.navbar {
		@apply block w-full fixed top-0 z-10 h-[5.4rem] p-[2rem] transition-all duration-300;
	}

	.nav_link {
		@apply text-2xl block font-semibold text-[#181b21] mx-[0] px-[0] py-[10] transition-all duration-300;
	}

	.navbar1 {
		display: none;
	}

	@keyframes move {
		0% {
			transform: translateX(200px);
		}
		100% {
			transform: translateX(0);
		}
	}

	.navbar1 a {
		margin-bottom: 1rem;
	}

	.navbar1.active {
		max-height: 310px;
		visibility: visible;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		padding: 30px;
		font-weight: bold;
		animation: move 0.2s ease-in-out;
	}

	/* .black-blur {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		min-height: 600px;
		background: whitesmoke;
		filter: blur(20px);
		opacity: 0.5;
		z-index: 5; 
	}*/

	.white-blur {
		position: absolute;
		top: 0;
		right: 0;
		left: 20%;
		min-height: 600px;
		background: white;
		padding: 7rem 3rem 0;
		z-index: 7;
	}

	.nav-close-btn {
		position: absolute;
		top: 12px;
		right: 31px;
	}

	i {
		display: block;
	}

	.nav-close-btn {
		font-size: 3rem;
	}
}
